<section class="actual section">
  <div class="container">
    <div class="actual__wrapper inner-container">
      <h2 class="actual__title title" data-aos="fade-right">
        Несколько актуальных инвестиционный проектов
      </h2>
      <ul class="actual__list">
        <li class="actual__item" data-aos="zoom-in">
          <article class="apartment-card">
            <a class="apartment-card__img-box" href="#">
              <img class="apartment-card__img" src="/img/apartment-1.jpg" alt="фотография дома 1">
            </a>
            <div class="apartment-card__box">
              <a class="apartment-card__link" href="#">
                <h3 class="apartment-card__title">ЖК Морская симфония</h3>
              </a>
              <div class="apartment-card__info">
                <div class="apartment-card__strip">
                  <span></span>
                </div>
                <span class="apartment-card__percent" data-per="14%">13—15% годовых</span>
                <span class="apartment-card__profit">Ожидаемая доходность</span>
              </div>
            </div>
            <a class="apartment-card__pool" href="#">Узнать актуальность пула</a>
          </article>
        </li>
        <li class="actual__item" data-aos="zoom-in">
          <article class="apartment-card">
            <a class="apartment-card__img-box" href="#">
              <img class="apartment-card__img" src="/img/apartment-2.jpg" alt="фотография дома 1">
            </a>
            <div class="apartment-card__box">
              <a class="apartment-card__link" href="#">
                <h3 class="apartment-card__title">ЖК Морская</h3>
              </a>
              <div class="apartment-card__info">
                <div class="apartment-card__strip">
                  <span></span>
                </div>
                <span class="apartment-card__percent" data-per="44%">43—45% годовых</span>
                <span class="apartment-card__profit">Ожидаемая доходность</span>
              </div>
            </div>
            <a class="apartment-card__pool" href="#">Узнать актуальность пула</a>
          </article>
        </li>
        <li class="actual__item" data-aos="zoom-in">
          <article class="apartment-card">
            <a class="apartment-card__img-box" href="#">
              <img class="apartment-card__img" src="/img/apartment-3.jpg" alt="фотография дома 1">
            </a>
            <div class="apartment-card__box">
              <a class="apartment-card__link" href="#">
                <h3 class="apartment-card__title">ЖК Итальянская баллада</h3>
              </a>
              <div class="apartment-card__info">
                <div class="apartment-card__strip">
                  <span></span>
                </div>
                <span class="apartment-card__percent" data-per="14%">13—15% годовых</span>
                <span class="apartment-card__profit">Ожидаемая доходность</span>
              </div>
            </div>
            <a class="apartment-card__pool" href="#">Узнать актуальность пула</a>
          </article>
        </li>
        <li class="actual__item" data-aos="zoom-in">
          <article class="apartment-card">
            <a class="apartment-card__img-box" href="#">
              <img class="apartment-card__img" src="/img/apartment-1.jpg" alt="фотография дома 1">
            </a>
            <div class="apartment-card__box">
              <a class="apartment-card__link" href="#">
                <h3 class="apartment-card__title">ЖК Морская симфония</h3>
              </a>
              <div class="apartment-card__info">
                <div class="apartment-card__strip">
                  <span></span>
                </div>
                <span class="apartment-card__percent" data-per="14%">13—15% годовых</span>
                <span class="apartment-card__profit">Ожидаемая доходность</span>
              </div>
            </div>
            <a class="apartment-card__pool" href="#">Узнать актуальность пула</a>
          </article>
        </li>
        <li class="actual__item" data-aos="zoom-in">
          <article class="apartment-card">
            <a class="apartment-card__img-box" href="#">
              <img class="apartment-card__img" src="/img/apartment-2.jpg" alt="фотография дома 1">
            </a>
            <div class="apartment-card__box">
              <a class="apartment-card__link" href="#">
                <h3 class="apartment-card__title">ЖК Морская</h3>
              </a>
              <div class="apartment-card__info">
                <div class="apartment-card__strip">
                  <span></span>
                </div>
                <span class="apartment-card__percent" data-per="44%">43—45% годовых</span>
                <span class="apartment-card__profit">Ожидаемая доходность</span>
              </div>
            </div>
            <a class="apartment-card__pool" href="#">Узнать актуальность пула</a>
          </article>
        </li>
        <li class="actual__item" data-aos="zoom-in">
          <article class="apartment-card">
            <a class="apartment-card__img-box" href="#">
              <img class="apartment-card__img" src="/img/apartment-3.jpg" alt="фотография дома 1">
            </a>
            <div class="apartment-card__box">
              <a class="apartment-card__link" href="#">
                <h3 class="apartment-card__title">ЖК Итальянская баллада</h3>
              </a>
              <div class="apartment-card__info">
                <div class="apartment-card__strip">
                  <span></span>
                </div>
                <span class="apartment-card__percent" data-per="14%">13—15% годовых</span>
                <span class="apartment-card__profit">Ожидаемая доходность</span>
              </div>
            </div>
            <a class="apartment-card__pool" href="#">Узнать актуальность пула</a>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
