<section class="download">
  <div class="container download__container">
    <div class="download__wrapper">
      <div class="download__catalog">
        <h2 class="download__title title" data-aos="fade-right">
          Cкачайте каталог инвестиционных предложений в Краснодаре
        </h2>
        <ul class="download__list" data-aos="fade-right">
          <li class="download__item download__item--actual">
            <p class="download__descr">
              Актуальные цены на ноябрь 2021
            </p>
          </li>
          <li class="download__item download__item--graph">
            <p class="download__descr">
              Квртиры по цене ниже рыночной
            </p>
          </li>
          <li class="download__item download__item--file">
            <p class="download__descr">
              Выгодные для сдачи в аренду или продажи
            </p>
          </li>
          <li class="download__item download__item--star">
            <p class="download__descr">
              70% Эксклюзивных предложений их нет на других площадках
            </p>
          </li>
        </ul>
      </div>
      <div class="download__telegram download-telegram" data-aos="fade-left">
        <h2 class="download-telegram__title title">
          Получить каталог в телеграм
        </h2>
        <button class="download-telegram__btn btn" type="button">Получить
          каталог</button>
      </div>
    </div>
  </div>
</section>
