<section class="dynamics section">
  <div class="container container--left">
    <div class="dynamics__wrapper">
      <div class="dynamics__content">
        <h2 class="dynamics__title title" data-aos="fade-right">
          Динамика изменения стоимости недвижимости
        </h2>
        <div class="dynamics__tabs" data-aos="fade-right">
          <button class="dynamics__btn" type="button" aria-label="выбор временного отрезка"></button>
          <ul class="dynamics__list">
            <li class="dynamics__item">
              <a class="dynamics__tab dynamics__tab--active" href="#tab-1">Месяц</a>
            </li>
            <li class="dynamics__item">
              <a class="dynamics__tab" href="#tab-2">Полгода</a>
            </li>
            <li class="dynamics__item">
              <a class="dynamics__tab" href="#tab-3">Год</a>
            </li>
          </ul>
          <ul class="dynamics__info dynamics-tabs" data-aos="fade-up">
            <li class="dynamics-tabs__tab dynamics-tabs__tab--active" id="tab-1">
              <img class="dynamics-tabs__graph" src="/img/dynamics.svg" width="772" height="314"
                alt="график роста прибыли">
              <span class="dynamics-tabs__percent">+12%</span>
              <ul class="dynamics-tabs__scale">
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">22 мая 2021</span>
                </li>
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">28 мая 2021</span>
                </li>
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">31 мая 2021</span>
                </li>
              </ul>
            </li>
            <li class="dynamics-tabs__tab" id="tab-2">
              <img class="dynamics-tabs__graph" src="/img/dynamics.svg" width="772" height="314"
                alt="график роста прибыли">
              <span class="dynamics-tabs__percent">+15%</span>
              <ul class="dynamics-tabs__scale">
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">1 мая 2020</span>
                </li>
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">1 декабря 2020</span>
                </li>
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">1 мая 2021</span>
                </li>
              </ul>
            </li>
            <li class="dynamics-tabs__tab" id="tab-3">
              <img class="dynamics-tabs__graph" src="/img/dynamics.svg" width="772" height="314"
                alt="график роста прибыли">
              <span class="dynamics-tabs__percent">+32%</span>
              <ul class="dynamics-tabs__scale">
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">2018</span>
                </li>
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">2019</span>
                </li>
                <li class="dynamics-tabs__item">
                  <span class="dynamics-tabs__data">2020</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="dynamics__invest dynamics-invest" data-aos="fade-left">
        <picture class="dynamics__img-box">
          <source media="(max-width: 576px)" srcset="/img/safe.png">
          <source media="(max-width: 1024px)" srcset="/img/safe-mobile.png">
          <img class="dynamics__bg-img" src="/img/safe.png" alt="" aria-hidden="true">
        </picture>
        <h3 class="dynamics-invest__title">Отличный способ сохранить и
          преумножить</h3>
        <p class="dynamics-invest__descr">
          <span>75%</span>
          Доходность за 2021 год
        </p>
        <button class="dynamics-invest__btn btn" data-path="first" data-animation="fadeInUp" data-speed="300"
          type="button">Начать
          инвестировать</button>
      </div>
    </div>
  </div>
</section>
