<section class="examples section">
  <div class="container examples__container">
    <div class="examples__wrapper inner-container inner-container--bg" data-aos="zoom-in">
      <h2 class="examples__title title title--container">
        Примеры реализации инвест стратегий
      </h2>
    </div>
    <div class="examples__slider">
      <ul class="examples__list">
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-1.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-1.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-2.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-2.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-1.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-1.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-2.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-2.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-1.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-1.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-2.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-2.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-1.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-1.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-2.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-2.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-1.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-1.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-2.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-2.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-1.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-1.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
        <li class="examples__slide">
          <article class="examples__card examples-card" data-aos="zoom-in">
            <a class="examples-card__top" href="#">
              <img class="examples-card__img examples-card__img--min" src="/img/home-min-2.jpg"
                alt="картинка жилого комплекса" width="265" height="244">
              <div class="examples-card__big-box">
                <img class="examples-card__img examples-card__img--big" src="/img/home-big-2.jpg"
                  alt="картинка жилого комплекса" width="348" height="320">
                <div class="examples-card__profit">
                  <span class="examples-card__percent">235%</span>
                  <span class="examples-card__during">Доходность за 4 года</span>
                </div>
              </div>
            </a>
            <div class="examples-card__content">
              <a class="examples-card__link" href="#">
                <h3 class="examples-card__title">ЖК Морская симфония</h3>
              </a>
              <span class="examples-card__rooms">1-к квартира</span>
              <span class="examples-card__square">32 м<sup>2</sup></span>
            </div>
            <ul class="examples-card__offer">
              <li class="examples-card__item">
                <span class="examples-card__price">2 300 000 ₽</span>
                <span class="examples-card__area">70 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2017 г.</span>
              </li>
              <li class="examples-card__item">
                <span class="examples-card__price">9 450 000 ₽</span>
                <span class="examples-card__area">270 000 ₽ / м<sup>2</sup></span>
                <span class="examples-card__year">2021 г.</span>
              </li>
            </ul>
          </article>
        </li>
      </ul>
    </div>
    <div class="examples__nav" data-aos="zoom-in">
      <button class="examples__arrow arrow arrow--prev" type="button" aria-label="предыдущая картинка">
        <svg class="arrow-icon" width="12" height="17">
          <use xlink:href="img/sprite.svg#prevArrow"></use>
        </svg>
      </button>
      <div class="examples__fraction fraction"></div>
      <button class="examples__arrow arrow arrow--next" type="button" aria-label="слудующая картинка">
        <svg class="arrow-icon" width="12" height="17">
          <use xlink:href="img/sprite.svg#nextArrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
