<section class="guarantees section">
  <div class="container">
    <div class="guarantees__wrapper inner-container">
      <div class="guarantees__info">
        <h2 class="guarantees__title title title--container" data-aos="fade-right" >
          Наши гарантии
        </h2>
        <div class="guarantees__box">
        <p class="guarantees__descr descr" data-aos="fade-right" >
          Налог с продажи квартиры, дома, земельного участка и другой недвижимости Если вы продали недвижимость, то
          должны заплатить налог с продажи. Размер налога стандартный – 13% от тех денег, что вы получили от покупателя.
          Тем не менее существуют законные способы, как уменьшить налог или не платить его вовсе.
        </p>
        <button class="guarantees__btn btn" data-path="first" data-animation="fadeInUp" data-speed="300" type="button"
          data-aos="fade-right" >
          Начать инвестировать
        </button>
        </div>
      </div>
      <ul class="guarantees__list" data-da=".guarantees__info,1200,1" >
        <li class="guarantees__item guarantees__item--mortgage" data-aos="fade-left" >
          <h3 class="guarantees__caption">Одобрение ипотеки</h3>
          <p class="guarantees__text descr">Налог с продажи квартиры, дома, земельного участка и другой недвижимости Если вы
            продали недвижимость, то должны заплатить налог с продажи.</p>
        </li>
        <li class="guarantees__item guarantees__item--selection" data-aos="fade-left" >
          <h3 class="guarantees__caption">Бысрый подбор</h3>
          <p class="guarantees__text descr">Налог с продажи квартиры, дома, земельного участка и другой недвижимости Если вы
            продали недвижимость, то должны заплатить налог с продажи.</p>
        </li>
        <li class="guarantees__item guarantees__item--objects" data-aos="fade-left" >
          <h3 class="guarantees__caption">Проверенные объекты</h3>
          <p class="guarantees__text descr">Налог с продажи квартиры, дома, земельного участка и другой недвижимости Если вы
            продали недвижимость, то должны заплатить налог с продажи.</p>
        </li>
        <li class="guarantees__item guarantees__item--price" data-aos="fade-left" >
          <h3 class="guarantees__caption">Цены от застройщика</h3>
          <p class="guarantees__text descr">Налог с продажи квартиры, дома, земельного участка и другой недвижимости Если вы
            продали недвижимость, то должны заплатить налог с продажи.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
