<section class="help section">
  <div class="container">
    <div class="help__wrapper inner-container inner-container--bg" data-aos="zoom-in">
      <div class="help__info">
        <h2 class="help__title title title--container">
          Помощь в перепродаже объекта
        </h2>
        <div class="help__descr descr">
          <p>
            Налог с продажи квартиры, дома, земельного участка и другой недвижимости Если вы продали недвижимость, то
            должны
            заплатить налог с продажи. Размер налога стандартный – 13% от тех денег, что вы получили от покупателя. Тем
            не
            менее существуют законные способы, как уменьшить налог или не платить его вовсе.
          </p>
        </div>
      </div>
      <picture class="help__img-box">
        <source media="(max-width: 576px)" srcset="/img/help-mobile.png">
        <source media="(max-width: 1024px)" srcset="/img/help-tablet.png">
        <img class="help__bg-img" src="/img/help.png" alt="" aria-hidden="true">
      </picture>
      <a class="help__link btn" href="#">Продать квартиру</a>
    </div>
  </div>
</section>
