<section class="how section">
  <div class="container">
    <div class="how__wrapper">
      <h2 class="visually-hidden">Риск и прибыль</h2>
      <div class="how__box how__box--profit" data-aos="fade-right" >
        <h3 class="how__title title title--white">Как мы максимизируем прибыль</h3>
        <ul class="how__list">
          <li class="how__item">
            <span class="how__descr">
              Выгодные перепродажи
            </span>
          </li>
          <li class="how__item">
            <span class="how__descr">
              Объективный <br>торг
            </span>
          </li>
          <li class="how__item">
            <span class="how__descr">
              Скидки от подрядчиков
            </span>
          </li>
          <li class="how__item">
            <span class="how__descr">
              Вложения застрахованы
            </span>
          </li>
        </ul>
      </div>
      <div class="how__box how__box--risk" data-aos="fade-left" >
        <h3 class="how__title title title--white">Как мы минимизируем риски</h3>
        <ul class="how__list">
          <li class="how__item">
            <span class="how__descr">
              Объекты<br> по ФЗ 214
            </span>
          </li>
          <li class="how__item">
            <span class="how__descr">
              Вложения застрахованы
            </span>
          </li>
          <li class="how__item" >
            <span class="how__descr">
              Многолетний опыт и репутация
            </span>
          </li>
          <li class="how__item" >
            <span class="how__descr">
              Недвижимость — один из самых надежных активов
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="how__bottom" >
      <button class="how__btn btn" data-path="first" data-animation="fadeInUp" data-speed="300" type="button"
        data-aos="fade-right" >Начать
        инвестировать</button>
    </div>
  </div>
</section>
