<section class="investors section">
  <div class="container">
    <div class="investors__wrapper inner-container inner-container--bg" data-aos="zoom-in">
      <h2 class="title title--container investors__title">
        С нами зарабатывают сотни инвесторов
      </h2>
      <ul class="investors__list" data-tabs="tab">
        <li class="investors__item investors__item--profit" data-aos="fade-up">
          <h3 class="investors__caption">
            Доходность до 78% годовых
          </h3>
          <img class="investors__img" src="/img/investors-profit.png" alt="" width="175" height="266">
        </li>
        <li class="investors__item investors__item--hidden" data-aos="fade-up">
          <h3 class="investors__caption">
            Скрытые предложения рынка
          </h3>
          <img class="investors__img" src="/img/investors-hidden.png" alt="" width="167" height="238">
        </li>
        <li class="investors__item investors__item--plan" data-aos="fade-up">
          <h3 class="investors__caption">
            Персональный инвестплан
          </h3>
          <img class="investors__img" src="/img/investors-plan.png" alt="" width="235" height="270">
        </li>
        <li class="investors__item investors__item--real" data-aos="fade-up">
          <h3 class="investors__caption">
            Реальные кейсы клиенттов
          </h3>
          <img class="investors__img" src="/img/investors-real.png" alt="" width="164" height="259">
        </li>
      </ul>
    </div>
  </div>
</section>
