<section class="invest">
  <div class="container invest__container">
    <div class="invest__top inner-container--bg" data-aos="zoom-in">
      <div class="invest__img" style="background-image: url('/img/bg.png');"></div>
      <h1 class="invest__title">Инвестируйте <br>в недвижимость Краснодара
      </h1>
      <p class="invest__profitability">
        9–43%
        <span>доходность</span>
      </p>
      <p class="invest__attracted">Привлекли более <span>1 000 000 000 ₽.</span> инвестиций <br>за
        2021 год!</p>
      <button class="invest__btn btn" type="button">Начать инвестировать</button>
    </div>
  </div>
  <div class="container container--min">
    <ul class="invest__bottom income">
      <li class="income__item income__item--application" data-aos="fade-right">
        <div class="income__bottom">
          <h3 class="income__title">Оставляете заявку на интересующую квартиру</h3>
          <span class="income__num">1</span>
        </div>
      </li>
      <li class="income__item income__item--pool income__item--bottom" data-aos="fade-right">
        <div class="income__bottom">
          <h3 class="income__title">Мы объединяем заявки в пул</h3>
          <span class="income__num">2</span>
        </div>
        <p class="income__descr">
          При достижении необходимой площади (5-6 заявок) мы начинаем процесс покупки.
        </p>
      </li>
      <li class="income__item income__item--discount" data-aos="fade-left">
        <div class="income__bottom">
          <h3 class="income__title">Вы получаете квартиру со скидкой по оптовой цене.</h3>
          <span class="income__num">3</span>
        </div>
      </li>
      <li class="income__item income__item--resale" data-aos="fade-left">
        <div class="income__bottom">
          <h3 class="income__title">Зарабатываете с нами на перепродаже</h3>
          <span class="income__num">4</span>
        </div>
      </li>
    </ul>
  </div>
</section>
