<div class="modal">
  <div class="modal__container back-call" data-target="first">
    <button class="modal-close" type="button" aria-label="закрыть модальное окно"></button>
    <div class="back-call__content modal-content">
      <h2 class="back-call__title">
        Закажите обратный звонок
      </h2>
      <span class="back-call__text">
        Мы перезвоним вам в течении 10 минут
      </span>
      <form action="#" class="back-call__form">
        <div class="back-call__box">
          <label class="back-call__label">
            <input class="back-call__input" type="text" name="name" placeholder="Имя" required>
          </label>
          <label class="back-call__label">
            <input class="back-call__input" type="tel" name="number" placeholder="Телефон" required>
          </label>
        </div>
        <button class="back-call__btn btn" type="submit">
          Начать инвестировать
        </button>
        <label class="back-call__agreement custom-checkbox">
          <input class="back-call__input-checkbox custom-checkbox__field" type="checkbox" required>
          <span class="back-call__checkbox custom-checkbox__content"></span>
          <span class="back-call__descr"> Даю согласие наобработку
            персональных данных в соотвествии с
            <a class="back-call__politics" data-path="second">Политикой конфиденциальности</a>
          </span>
        </label>
      </form>
    </div>
  </div>
  <div class="modal__container politics" data-target="second">
    <button class="modal-close" type="button" aria-label="закрыть модальное окно"></button>
    <div class="modal-content ">
      <h2 class="politics__title">
        Политика конфиденциальности
      </h2>
      <div class="politics__descr">
        <p>
          НАШИ ОБЯЗАТЕЛЬСТВА В ОТНОШЕНИИ КОНФИДЕНЦИАЛЬНОСТИ И ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ
        </p>
        <p>
          Stokke («Stokke», «мы», «нас/нам/нами» или «наш/наша/наше/наши») считает своим долгом соблюдать право на
          невмешательство в личную жизнь и защищать интересы всех пользователей веб-сайтом Stokke, на котором
          опубликована
          настоящая Политика.
        </p>
        <p>
          Сбор какого рода информации мы осуществляем?
        </p>
        <p>
          Мы получаем от вас информацию при вашей регистрации на нашем сайте, размещении вами заказа, осуществлении
          вами
          подписки на нашу новостную рассылку или при ответе вами на вопросы анкеты при опросах.
        </p>
        <p>
          При размещении заказа или регистрации на нашем сайте, в случаях, где это необходимо, у вас могут быть
          запрошены
          имя и фамилия, адрес электронной почты, почтовый адрес или номер телефона. Тем не менее вы можете посещать наш
          сайт анонимно.
        </p>
        <p>
          Stokke («Stokke», «мы», «нас/нам/нами» или «наш/наша/наше/наши») считает своим долгом соблюдать право на
          невмешательство в личную жизнь и защищать интересы всех пользователей веб-сайтом Stokke, на котором
          опубликована
          настоящая Политика.
        </p>
        <p>
          Сбор какого рода информации мы осуществляем?
        </p>
        <p>
          Мы получаем от вас информацию при вашей регистрации на нашем сайте, размещении вами заказа, осуществлении
          вами
          подписки на нашу новостную рассылку или при ответе вами на вопросы анкеты при опросах.
        </p>
        <p>
          При размещении заказа или регистрации на нашем сайте, в случаях, где это необходимо, у вас могут быть
          запрошены
          имя и фамилия, адрес электронной почты, почтовый адрес или номер телефона. Тем не менее вы можете посещать
          наш
          сайт анонимно.
        </p>
      </div>
    </div>
  </div>
</div>
