<section class="specialists section">
  <div class="container">
    <div class="specialists__wrapper inner-container inner-container--bg-dodger" data-aos="zoom-in">
      <picture class="specialists__img-box">
        <img class="specialists__bg-img" src="/img/specialists.png" alt="" aria-hidden="true">
      </picture>
      <h2 class="specialists__title title title--white">
        Наши специалисты
      </h2>
    </div>
    <ul class="specialists__list inner-container" id="masonry" data-aos="fade-up">
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-1.jpg" alt="фотография 1" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Консантин Консантинопольский
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
              <p><span>президент</span> Центра экономических и финансовых исследований и разработок РЭШ</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-2.jpg" alt="фотография 2" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Андрей<br> Перов
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-3.jpg" alt="фотография 3" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Консантин<br> Шац
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
              <p><span>президент</span> Центра экономических и финансовых исследований и разработок РЭШ</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-4.jpg" alt="фотография 4" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Максим<br> Максимов
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
              <p><span>президент</span> Центра экономических и финансовых исследований и разработок РЭШ</p>
              <p><span>ректор</span> Российской экономической школы Российской экономической школы</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-1.jpg" alt="фотография 1" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Консантин Консантинопольский
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
              <p><span>президент</span> Центра экономических и финансовых исследований и разработок РЭШ</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-2.jpg" alt="фотография 2" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Андрей<br> Перов
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-3.jpg" alt="фотография 3" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Консантин<br> Шац
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
              <p><span>президент</span> Центра экономических и финансовых исследований и разработок РЭШ</p>
            </div>
          </div>
        </div>
      </li>
      <li class="specialists__item masonry__item">
        <div class="specialists__inner" tabindex="0">
          <div class="specialists__photo-box">
            <img class="specialists__photo" src="img/photo-4.jpg" alt="фотография 4" width="253" height="225">
          </div>
          <div class="specialists__box">
            <h3 class="specialists__name" tabindex="0">
              Максим<br> Максимов
            </h3>
            <div class="specialists__info descr">
              <p><span>Главный экономист</span> Европейского банка реконструкции и развития</p>
              <p><span>ректор</span> Российской экономической школы</p>
              <p><span>президент</span> Центра экономических и финансовых исследований и разработок РЭШ</p>
              <p><span>ректор</span> Российской экономической школы Российской экономической школы</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="specialists__more" type="button" data-aos="fade-up">
      Cмотреть всех специалистов
    </button>
  </div>
</section>
