<section class="testimonials">
  <div class="container testimonials__container" data-aos="fade-up">
    <div class="testimonials__wrapper inner-container inner-container--bg">
      <h2 class="testimonials__title title">
        Отзывы наших клиентов
      </h2>
    </div>
    <div class="testimonials__nav" data-da=".testimonials__slider-container,767,last">
      <button class="testimonials__arrow arrow arrow--prev" type="button" aria-label="предыдущая картинка">
        <svg class="arrow-icon" width="12" height="17">
          <use xlink:href="img/sprite.svg#prevArrow"></use>
        </svg>
      </button>
      <div class="testimonials__fraction fraction"></div>
      <button class="testimonials__arrow arrow arrow--next" type="button" aria-label="слудующая картинка">
        <svg class="arrow-icon" width="12" height="17">
          <use xlink:href="img/sprite.svg#nextArrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="testimonials__slider-container" data-aos="zoom-in">
    <div class="testimonials__slider swiper">
      <ul class="testimonials__list swiper-wrapper">
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-1.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-2.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Андрей</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-3.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Санёк</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-1.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-2.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-3.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-1.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-2.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-3.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-1.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-2.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
        <li class="testimonials__slide swiper-slide" tabindex="0">
          <div class="testimonials__box">
            <img class="testimonials__img" src="/img/testimonials-3.jpg" alt="картинка жилого комплекса">
            <div class="testimonials__bottom">
              <span class="testimonials__name">Консантин Константинопольский</span>
              <span class="testimonials__data">22 мая 2023</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
